{% extends "rango/base.html" %}

{% load staticfiles %}

{% block title_block %}
    About
{% endblock title_block %}

{% block body_block %}
    <div>
        <h1>This tutorial has been put together by Ivan</h1> <br/>
        <h2>{{ project }}</h2>
    </div>
    <div>
        <!-- Images -->
        <img src="{{ MEDIA_URL }}tiger.jpg" alt="Picture of tiger" /><br/>
        <!-- Number of visits -->
        Number of visits: {{ visits }}<br/>
        <!-- JQuery block -->
        <button class="btn" onclick="alert('You clicked JQuery button!')">
            JQuery Example Default
        </button>
        <button class="btn ouch" id="about_btn">
            JQuery Example Custom
        </button>
        <h4 class="ouch">This is one more example</h4>
    </div>
{% endblock body_block %}
