{% extends "rango/base.html" %}

{% load staticfiles %}

{% block title_block %}
    {{ category.name }}. Add a new Page.
{% endblock title_block %}

{% block body_block %}
    {% if category %}
        <div>
            <form role="form" id="page_form" method="post" action="{% url 'rango:add_page' category.slug %}">
                <h2 class="form-signin-heading">Add a Page to
                    <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></h2>
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div>
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                    </div>
                {% endfor %}
                <br/>
                <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
            </form>
        </div>
    {% else %}
        <h1>A category by this name doesn't exist!</h1><br/>
    {% endif %}
{% endblock body_block %}
