{% extends "rango/base.html" %}

{% load staticfiles %}
{% load rango_template_tags %}

{% block title_block %}
    {{ category.name }}
{% endblock title_block %}

{% block body_block %}
    <h1>{{ category.name }}</h1>
    <div>
        <strong id="id_count">{{ category.likes }}</strong> people likes this category
        {% if user.is_authenticated %}
            <button class="btn btn-primary" data-cat-id="{{ category.id }}"
                    id="like" type="button">
                Like
            </button>
        {% endif %}
    </div>
    {% if category %}
        <div id="pages">
            {% get_page_list pages %}
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'rango:add_page' category.slug %}">Add a new Page</a><br/>
        {% endif %}
        {% else %}
        <h1>The specified category doesn't exist!</h1>
    {% endif %}

    <div>
        <br/>
        {% if user.is_authenticated %}
            <h2>Search pages with Bing</h2>
            {% get_search_api bing_query bing_result_list 'bing' 'rango:show_category' category.slug %}
        {% endif %}
    </div>
{% endblock body_block %}
