{% extends "rango/base.html" %}

{% load staticfiles %}
{% load rango_template_tags %}

{% block title_block %}
    {{ category.name }}
{% endblock title_block %}

{% block body_block %}
    <h1>{{ category.name }}</h1>
    {% if category %}
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li>
                    <a href="{% url 'rango:goto' page.id %}">{{ page.title }}</a>
                    <strong id="like_count">{{ page.views }}</strong>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category</strong><br/>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'rango:add_page' category.slug %}">Add a new Page</a><br/>
        {% endif %}
        {% else %}
        <h1>The specified category doesn't exist!</h1>
    {% endif %}

    <div>
        <br/>
        <h2>Search pages with Bing</h2>
        {% if user.is_authenticated %}
            {% get_search_api bing_query bing_result_list 'bing' 'rango:show_category' category.slug %}
        {% endif %}
    </div>
{% endblock body_block %}
