{% extends 'rango/base.html' %}

{% load staticfiles %}
{% load rango_template_tags %}

{% block title_block %}
    Search
{% endblock title_block %}

{% block body_block %}
<div>
    <h1>Search with Rango</h1><br/>
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-5 main">
            <div>
                <h2>Bing Search</h2><br/>
                {% get_search_api bing_query bing_result_list 'bing' %}
            </div>
        </div>
        <div class="col-lg-5 main">
            <div>
                <h2>WebHose.io Search</h2><br/>
                {% get_search_api webhoseio_query webhoseio_result_list 'webhoseio' %}
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}