{% block body_block %}
    <form class="form-inline search-api" id="user_form" view="{{ url_type }}" params="{{ params }}"
          method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" size="50"
                   name="{{ search_api }}_query" value="{{ query }}" id="{{ search_api }}_query">
        </div>
        <button class="btn btn-primary" type="submit" name="submit"
                value="Search">Search</button>
    </form>

    <div>
        {% if result_list %}
        <br/>
        <h3>Results</h3>
        <div class="list-group">
            {% for result in result_list %}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <a href="{{ result.url }}">{{ result.name }}</a>
                    </h4>
                    <p class="list-group-item-text">{{ result.summary }}</p><br/>
                    <button class="btn btn-primary add_page" type="button" name="add_page"
                            value="" data-url="{{ result.url }}" data-title="{{ result.name }}">
                        Add
                    </button>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock body_block %}